@import 'tokens.scss';

body {
  min-width: 240px;
  margin: 0;
  font-family: $primary-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-family;
}

red-border {
  border: solid 2px red;
}
