.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  text-align: center;

  // background-position: center center;
  // background: no-repeat;
  // background-image: url('../assets/background.png');
  // object-fit: contain;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 555px) {
  .App {
    & > .only-desktop {
      display: none;
    }
  }
}
@media screen and (min-width: 556px) {
  .App {
    & > .only-mobile {
      display: none;
    }
  }
}
